
.email-filter {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.email-filter input[type="text"] {
    padding: 5px 10px;
    font-size: 14px;
    flex-grow: 1;
    margin-right: 20px;
}

.email-filter input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 5px;
}

.selected-rows-message {
    margin-left: 40px; 
    font-size: 14px;
    color: #333;
    display: inline-block;
    padding-left: 10px; 
}



